@import "tailwindcss";
@import "tw-animate-css";
@import "highlight.js/styles/atom-one-dark.css";
@import "katex/dist/katex.min.css";


@theme {
  --color-background: #10141a;
  --color-background-2: #151b24;
  --color-surface: #1c232e;
  --color-accent: #8875e0; /* 61AFEF */
  --color-destructive: #e07575;
  --color-text: #e1e6f0;
  --color-text2: #969eb0;
  --color-text3: #666e7d;
  --width-content-width: 90ch;
  --font-grotesk: "Hanken Grotesk", "sans-serif";
  --font-rubik: "Rubik", "sans-serif";
  --font-noto: "Noto Sans", "sans-serif";
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
  *:focus {
    outline: none;
  }

  * {
    @apply overscroll-none;
  }

  html {
    @apply h-screen w-screen p-0 m-0 text-text bg-background font-semibold;
  }

  body {
    @apply p-0 m-0 w-full h-full;
  }

  main {
    @apply max-w-4xl w-full mx-auto px-14 pt-20 pb-40;
  }

  section {
    @apply flex flex-col gap-5 md:gap-8;
  }

  b, strong {
    @apply font-bold
  }

  h1,
  h2,
  h3 {
    @apply font-bold transition-all ease-linear duration-300;
  }

  h1 {
    @apply my-5 text-3xl md:text-4xl;
  }

  h2 {
    @apply my-3 text-2xl md:text-3xl;
  }

  h3 {
    @apply my-2 text-lg md:text-2xl;
  }

  hr {
    @apply h-[2px] rounded-lg my-4 bg-text3 opacity-25 border-0;
  }

  p,
  li {
    @apply text-text2 font-medium text-base md:text-lg;
  }

  li {
    @apply text-text3 pl-2;
  }

  label {
    @apply my-2 block md:text-lg;
  }

  input,
  textarea {
    @apply w-full outline-none bg-background border-none rounded px-3 py-2;
  }

  textarea {
    @apply h-32;
  }

  button {
    @apply bg-accent text-xl px-8 py-1 rounded hover:rounded-sm my-5 text-background;
  }

  button,
  a {
    @apply transition-all ease-linear duration-100;
  }

  button:hover,
  a:hover {
    @apply scale-110;
  }
}

@layer components {
  .home {
    @apply pt-20 text-center flex flex-col items-center gap-4;
  }

  .card {
    @apply w-fit text-center bg-surface/50 rounded shadow-2xl px-4 py-2 backdrop-blur-sm;
  }

  .dark-card {
    @apply bg-surface/20 rounded shadow-2xl backdrop-blur-sm;
  }

  .card h1 {
    @apply my-3 text-2xl md:text-4xl;
  }

  .icon-button {
    @apply text-background bg-accent p-1;
  }
  .text-button {
    @apply text-text2 bg-background/30 hover:bg-background/90 py-1 px-2 m-0;
  }

  .ProseMirror {
    @apply overflow-y-auto h-full pb-80 px-14 pt-20;
  }
  .ProseMirror hr {
    @apply h-[2px] rounded-lg my-4 bg-text3 opacity-25 border-0;
  }
  .ProseMirror :is(b, a, strong) {
    @apply text-accent;
  }
  .ProseMirror :is(h1, h2, h3, h4, h5, h6) {
    @apply my-3 capitalize font-medium;
  }
  .ProseMirror :not(h1, h2, h3, h4, h5, h6) {
    @apply text-text2 font-light text-base md:text-lg;
  }
  .ProseMirror :not(h1, h2, h3, h4, h5, h6, b, a, strong) {
    @apply text-text2;
  }
  .ProseMirror p:not(:is(h1, h2, h3, h4, h5, h6) + p) {
    @apply mt-2
  }
  .ProseMirror :is(ol) {
    @apply list-decimal pl-7 marker:text-accent;
  }
  .ProseMirror :is(ul) {
    @apply list-['-'] pl-7 marker:text-accent;
  }
  .ProseMirror a {
    @apply underline;
  }
  .ProseMirror img {
    @apply w-4/5 mx-auto;
  }
  .ProseMirror :is(ul, ol) li {
    @apply my-0 px-2;
  }
  .ProseMirror code:not(:is(pre code)) {
    @apply bg-surface px-2 py-[2px] rounded-md text-accent;
  }
  .ProseMirror pre {
    @apply mt-3 bg-surface overflow-x-scroll p-4 rounded-md max-w-full mb-5;
    tab-size: 2;
  }

  .ProseMirror code span, .ProseMirror pre code {
    @apply text-base
  }
  .ProseMirror pre::-webkit-scrollbar {
    @apply bg-transparent;
  }
  .ProseMirror pre::-webkit-scrollbar-thumb {
    @apply bg-transparent;
  }
  .ProseMirror h1 {
    @apply my-5 text-3xl md:text-4xl;
  }
  .ProseMirror h2 {
    @apply my-3 text-2xl md:text-3xl;
  }
  .ProseMirror h3 {
    @apply my-2 text-lg md:text-2xl;
  }
  .ProseMirror strong {
    @apply font-bold;
  }
  .ProseMirror ol li > ol {
    @apply list-disc pl-7
  }
  .ProseMirror ul li > ul {
    @apply list-['>'] pl-7
  }
  .Tiptap-mathematics-editor, .Tiptap-mathematics-render  {
    @apply font-noto rounded-md; 
  }
  .Tiptap-mathematics-render span {
    @apply text-text2 text-lg md:text-xl
  }
  .Tiptap-mathematics-render .mord .mtight {
    @apply text-xs md:text-sm p-[1px]
  }
}

@layer utilities {
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 9999px;
    opacity: 0.8;
    animation: twinkle 2s infinite ease-in-out alternate;
  }

  @keyframes twinkle {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
}
